{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    | {{ restaurant.friendly_name }}
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section class="row no-gutters">
            <div class="col-12 no-gutters">
                <figure>
                    <img src="{{ restaurant.cover_image.url }}" class="background-image menu-background-image" alt="#">
                    <div class="background-image shadow-overlay"></div>
                </figure>
                <h1 class="restaurant-name-menu">{{ restaurant.friendly_name }}</h1>
            </div>
        </section>
        <div class="row no-gutters">
            <div class="col-1 d-none d-lg-block no-gutters"></div>
            <div class="col-9 no-gutters">
                <!-- Restaurants Near You -->
                <div class="row">
                    <div class="col-12">
                        <p class="d-inline-block">{{ restaurant.address_1 }}, {{ restaurant.address_2 }}</p>
                        <p class="opening-hours">Opening Hours</p>
                    </div>
                </div>
                <!-- Menu Sections -->
                <div class="row menu-sections">
                    <div class="col-12">
                            <a href="#">
                                <h3 class="menu-section">
                                    {{ menu_section }}
                                </h3>
                            </a>
                    </div>
                </div>
                <!-- Restaurant Cards -->
                <div class="row restaurant-list">
                    {% for restaurant in restaurants %}
                        <div class="col-12 col-md-6 col-lg-4 no-gutters d-inline-block">
                            <!-- Card -->
                            <div class="card h-100 border-0">
                                <a href="#" class="card-body">
                                    <div class="restaurant-card-cover-image-container">
                                        <!-- Images -->
                                        {% if restaurant.cover_image %}
                                            <img src="/media/{{ restaurant.cover_image }}" alt="{{ restaurant.friendly_name }} cover image" class="img-fluid card-image-top restaurant-card-cover-image">
                                        {% endif %}    
                                        {% if restaurant.logo %}
                                            <img src="/media/{{ restaurant.logo }}" alt="{{ restaurant.friendly_name }} logo" class="img-fluid restaurant-card-logo">
                                        {% endif %}
                                    </div>
                                    <!-- Name -->
                                    <p class="card-title">{{ restaurant.friendly_name }}</p>
                                    <!-- Delivery Cost -->
                                    <p class="card-text delivery-cost">Delivery: €{{ restaurant.delivery_cost }}</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-1 d-none d-lg-block no-gutters"></div>
        </div>
    </div>
{% endblock %}