{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'restaurants/css/restaurants.css' %}">
{% endblock %}

{% block extra_title %}
    | {{ restaurant.friendly_name|title }}
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <!-- Hero Image -->
        <section class="row no-gutters">
            <div class="col-12 no-gutters">
                <figure>
                    {% if restaurant.cover_image %}
                        <img src="{{ restaurant.cover_image.url }}" class="background-image menu-background-image" alt="{{ restaurant.friendly_name }} cover image">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" class="background-image menu-background-image" alt="{{ restaurant.friendly_name }} cover image">
                    {% endif %}
                    <div class="background-image shadow-overlay"></div>
                </figure>
                <h1 class="restaurant-name-menu">{{ restaurant.friendly_name }}</h1>
            </div>
        </section>
        <!-- Menu -->
        <section class="row no-gutters restaurant-menu-section">
            <div class="col-1 d-none d-lg-block no-gutters"></div>
            <div class="col-9 no-gutters">
                <!-- Restaurant Info -->
                <div class="row restaurant-info-menu">
                    <div class="col-12">
                        <p class="d-inline-block">{{ restaurant.address_1 }}, {{ restaurant.address_2 }}</p>
                        <p class="opening-hours">Opening Hours: {{ restaurant.get_opening_hours }}</p>
                        <p class="delivery-cost">Delivery: €{{ restaurant.delivery_cost }}</p>
                    </div>
                </div>
                <!-- Menu Sections -->
                <div class="row menu-nav-container">
                    <div class="col-12 no-gutters">
                        {% for menu_section in menu_sections %}
                            <a href="#{{ menu_section.friendly_name }}">
                                <h3 class="menu-section">
                                    {{ menu_section.friendly_name }}
                                </h3>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <hr id="menu-divider">
                <!-- Food Items List -->
                {% for menu_section in menu_sections %}
                    <div class="menu-section-food-items">
                        <a href="#"></a>
                        <h2 class="menu-section-heading" id="{{ menu_section.friendly_name }}">{{ menu_section.friendly_name }}</h2>
                        <div class="row food-items-container">
                            <!-- Food Item Cards -->
                            {% for food in food_items %}
                                {% if food.menu_section == menu_section %}
                                    <div class="col-12 col-md-6 col-lg-4 card h-100 border-0 food-item-card">
                                        <a href="#" id="food-item-card-link" class="card-body food-item-card-body" data-bs-toggle="modal" data-bs-target="#food-item-modal" data-food-item="{{ food.friendly_name }}">
                                            <div class="food-item-card-text">
                                                <p class="font-weight-bold food-item-card-name">{{ food.friendly_name }}</p>
                                                <p class="food-item-card-description">{{ food.description }}</p>
                                                <p class="food-id d-none" aria-hidden="true">{{ food.id }}</p>
                                            </div>
                                            <div class="food-item-price-container">
                                                <p class="font-weight-bold food-item-card-price">€{{ food.price }}</p>
                                            </div>
                                            <div class="food-item-photo-container">
                                                <figure>
                                                    {% if food.image %}
                                                        <img src="{{ food.image.url }}" alt="{{ food.friendly_name }}" class="food-item-photo">
                                                    {% else %}
                                                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ food.friendly_name }}" class="food-item-photo">
                                                    {% endif %}
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <!-- Food Modal referenced https://getbootstrap.com/docs/5.0/components/modal/ -->
                <div class="modal fade" id="food-item-modal" aria-labelledby="#modal-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="modal-label">Modal header</h4>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <!-- Modal Image -->
                                <div class="modal-image">
                                    <figure>
                                        <img id="food-item-modal-image" src="#" alt="">
                                    </figure>
                                </div>
                                <!-- Modal Form -->
                                <form class="form food-item-form" method="POST" action="{% url 'add_to_bag' %}">
                                    {% csrf_token %}
                                    <!-- Quantity Selector -->
                                    <div class="form-row">
                                        <div class="col-12">
                                            <p class="mt-3" id="quantity-title"><strong>Quantity:</strong></p>
                                            <div class="form-group quantity-selector">
                                                <div class="input-group">
                                                    <!-- Minus Button -->
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-black rounded-0" type="button">
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- Quantity Input -->
                                                    <input class="form-control qty-input" type="number" name="quantity" value="1" min="1" max="15">
                                                    <!-- Plus Button -->
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-black rounded-0" type="button">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Redirect URL -->
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <!-- Current Food ID, valued filled via 'foodModal.js' -->
                                        <input type="hidden" name="this_food" id="this-food" value="">
                                    </div>
                                    <!-- Additional Details -->
                                    <div class="form-row">
                                        <div class="col-12">
                                            <p class="mt-3" id="additional-details-title"><strong>Additional Details:</strong></p>
                                            <textarea name="additional-details" cols="30" rows="4" class="form-control additional-details-input" placeholder="e.g. no mayo"></textarea>
                                        </div>
                                    </div>
                                    <!-- Modal Footer -->
                                    <div class="modal-footer text-center">
                                        <button class="btn btn-secondary food-form-btn" type="submit">Add to Basket</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 d-none d-lg-block no-gutters"></div>
        </section>
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{% static 'js/foodModal.js' %}"></script>
    <script src="{% static 'js/quantitySelection.js' %}"></script>
{% endblock %}