{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load restaurants_extra %}

{% block extra_title %}
    | Restaurants
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="restaurants">
            <div class="row no-gutters">
                <div class="col-1 d-none d-lg-block no-gutters"></div>
                <!-- Cuisines Column -->
                <div class="col-1 no-gutters d-none d-lg-block text-center restaurant-cuisines-col">
                    <h4>Cuisines</h4>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-pizza-slice"></i>
                            <p class="restaurant-cuisine-name">Pizza</p>
                        </a>
                    </div>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-hamburger"></i>
                            <p class="restaurant-cuisine-name">American</p>
                        </a>
                    </div>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-fish"></i>
                            <p class="restaurant-cuisine-name">Seafood</p>
                        </a>
                    </div>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-egg"></i>
                            <p class="restaurant-cuisine-name">Vegetarian</p>
                        </a>
                    </div>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-pepper-hot"></i>
                            <p class="restaurant-cuisine-name">Indian</p>
                        </a>
                    </div>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-carrot"></i>
                            <p class="restaurant-cuisine-name">Vegan</p>
                        </a>
                    </div>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-drumstick-bite"></i>
                            <p class="restaurant-cuisine-name">Chicken</p>
                        </a>
                    </div>
                    <div class="restaurant-cuisine">
                        <a href="#">
                            <i class="fas fa-cookie"></i>
                            <p class="restaurant-cuisine-name">Treats</p>
                        </a>
                    </div>
                </div>
                <div class="col-9 no-gutters">
                    <!-- Restaurants Near You Header -->
                    <div class="row">
                        <div class="col-12">
                            <h4 class="d-inline-block">6 Restaurants Near You</h4>
                            <span><a href="#">change location</a></span>
                            <p class="sort-by">Sort by:</p>
                        </div>
                    </div>
                    <!-- Restaurant Cards -->
                    <div class="row restaurant-list">
                        {% for restaurant in restaurants %}
                            <div class="col-12 col-md-6 col-lg-4 no-gutters d-inline-block">
                                <!-- Card -->
                                <div class="card h-100 border-0">
                                    <a href="{% url 'restaurant_menu' restaurant.id %}" class="card-body">
                                        <div class="restaurant-card-cover-image-container">
                                            <!-- Images -->
                                            {% if restaurant.cover_image %}
                                                <img src="/media/{{ restaurant.cover_image }}" alt="{{ restaurant.friendly_name }} cover image" class="img-fluid card-image-top restaurant-card-cover-image">
                                            {% endif %}    
                                            {% if restaurant.logo %}
                                                <img src="/media/{{ restaurant.logo }}" alt="{{ restaurant.friendly_name }} logo" class="img-fluid restaurant-card-logo">
                                            {% endif %}
                                        </div>
                                        <!-- Name -->
                                        <p class="card-title">{{ restaurant.friendly_name }}</p>
                                        <!-- Rating -->
                                        <p class="card-text restaurant-rating">
                                            {% for star in 5|create_list_of_length_number %}
                                                {% if forloop.counter <= restaurant.rating %}
                                                    <span><i class="fas fa-star"></i></span>
                                                {% endif %}
                                            {% endfor %}
                                            {% if restaurant.rating < 4.7 %}
                                                {% with rating_remainder=5|sub:restaurant.rating %}
                                                    {% if rating_remainder|remove_whole_number > 0.2 and rating_remainder|remove_whole_number < 0.8 %}
                                                        <span><i class="fas fa-star-half-alt"></i></span>
                                                    {% endif %}
                                                    {% with rating_remainder_integer=rating_remainder|remove_decimals %}
                                                        {% for num in rating_remainder_integer|create_list_of_length_number %}
                                                            <span><i class="far fa-star"></i></span>
                                                        {% endfor %}
                                                    {% endwith %}
                                                {% endwith %}
                                            {% endif %}
                                        </p>
                                        <!-- Delivery Cost -->
                                        <p class="card-text delivery-cost">Delivery: €{{ restaurant.delivery_cost }}</p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1 d-none d-lg-block no-gutters"></div>
            </div>
        </section>
    </div>
{% endblock %}