{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load restaurants_extra %}

{% block extra_title %}
    | Restaurants
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="restaurants">
            <div class="row no-gutters">
                <div class="col-1 d-none d-lg-block no-gutters"></div>
                <!-- Cuisines Column -->
                <div class="col-1 no-gutters d-none d-lg-block text-center restaurant-cuisines-col">
                    <h4>Cuisines</h4>
                    <div class="restaurant-cuisine">
                        <a href="{% url 'restaurants' %}">
                            <p class="restuarant-cuisine-name">All Restaurants</p>
                        </a>
                    </div>
                    <hr>
                    {% for cuisine in all_cuisines %}
                    <div class="restaurant-cuisine">
                        <a href="{% url 'restaurants' %}?cuisine={{ cuisine.name }}">
                            <i class="{{ cuisine.icon_html }}"></i>
                            <p class="restaurant-cuisine-name">{{ cuisine.name|title }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-9 no-gutters">
                    <!-- Restaurants Near You Header -->
                    <div class="row no-gutters">
                        <div class="col-12 no-gutters">
                            <div class="row no-gutters">
                                <div class="col-6 no-gutters">
                                    <h4 class="d-inline-block nearby-restaurants">6 Restaurants Near You</h4>
                                    <span class="change-location"><a href="#">change location</a></span>
                                </div>
                                <div class="col-6 no-gutters">
                                    <div class="dropdown d-flex justify-content-end">
                                        <a href="#" class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                                            Refine:
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="{% url 'restaurants' %}?sort=rating_high&direction=desc">Highest Rated</a></li>
                                            <li><a class="dropdown-item" href="{% url 'restaurants' %}?sort=open_now&direction=asc">Open Now</a></li>
                                            <li><a class="dropdown-item" href="{% url 'restaurants' %}?sort=free_delivery&direction=asc">Free delivery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Restaurant Cards -->
                    <div class="row restaurant-list d-flex">
                        {% for restaurant in restaurants %}
                            <div class="col-12 col-md-6 col-lg-4 no-gutters d-inline-block">
                                <!-- Card -->
                                <div class="card h-100 border-0">
                                    <a href="{% url 'restaurant_menu' restaurant.id %}" class="card-body">
                                        <div class="restaurant-card-cover-image-container">
                                            <!-- Cover Image -->
                                            {% if restaurant.cover_image %}
                                                <figure>
                                                    <img src="{{ MEDIA_URL }}{{ restaurant.cover_image }}" alt="{{ restaurant.friendly_name }} cover image" class="img-fluid card-image-top restaurant-card-cover-image">
                                                </figure>
                                            {% else %}
                                                <figure>
                                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ restaurant.friendly_name }} cover image" class="img-fluid card-image-top restaurant-card-cover-image">
                                                </figure>
                                            {% endif %}
                                            <!-- Logo -->
                                            {% if restaurant.logo %}
                                                <figure>
                                                    <img src="{{ MEDIA_URL }}{{ restaurant.logo }}" alt="{{ restaurant.friendly_name }} logo" class="img-fluid restaurant-card-logo">
                                                </figure>
                                            {% else %}
                                                <figure>
                                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ restaurant.friendly_name }} logo" class="img-fluid restaurant-card-logo">
                                                </figure>
                                            {% endif %}
                                        </div>
                                        <!-- Name -->
                                        <p class="card-title">{{ restaurant.friendly_name }}</p>
                                        <!-- Rating -->
                                        <p class="card-text restaurant-rating">
                                            {% for star in 5|create_list_of_length_number %}
                                                {% if forloop.counter <= restaurant.rating %}
                                                    <span><i class="fas fa-star"></i></span>
                                                {% endif %}
                                            {% endfor %}
                                            {% if restaurant.rating < 4.7 %}
                                                {% with rating_remainder=5|sub:restaurant.rating %}
                                                    {% if rating_remainder|remove_whole_number > 0.2 and rating_remainder|remove_whole_number < 0.8 %}
                                                        <span><i class="fas fa-star-half-alt"></i></span>
                                                    {% endif %}
                                                    {% with rating_remainder_integer=rating_remainder|remove_decimals %}
                                                        {% for num in rating_remainder_integer|create_list_of_length_number %}
                                                            <span><i class="far fa-star"></i></span>
                                                        {% endfor %}
                                                    {% endwith %}
                                                {% endwith %}
                                            {% endif %}
                                        </p>
                                        <!-- Delivery Cost -->
                                        {% if restaurant.delivery_cost and restaurant.delivery_cost > 0 %}
                                            <p class="card-text delivery-cost">Delivery: €{{ restaurant.delivery_cost }}</p>
                                        {% else %}
                                            <p class="card-text delivery-cost">Free Delivery</p>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1 d-none d-lg-block no-gutters"></div>
            </div>
        </section>
    </div>
{% endblock %}