{% if current_restaurant %}
    <a href="{% url 'restaurant_menu' current_restaurant.id %}" class="btn btn-outline-dark rounded-0 btn-lg">
        <span class="d-inline-flex align-items-center icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="d-inline-flex align-items-center text-uppercase">Back to restaurant</span>
    </a>
{% else %}
    <a href="{% url 'restaurants' %}" class="btn btn-outline-dark rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Browse food</span>
    </a>
{% endif %}

{% if current_restaurant.is_open_now %}
    <a href="{% url 'checkout_address' %}" class="btn rounded-0 btn-lg secure-checkout-button">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
{% else %}
    <button class="btn rounded-0 btn-lg secure-checkout-button" disabled aria-disabled="true">
        <span class="text-uppercase">Restaurant Closed</span>
    </button>
{% endif %}