{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block extra_title %}
    | Bag
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="shopping-bag-section">
            <!-- Page Heading -->
            <div class="row no-gutters">
                <div class="col-12 no-gutters text-center">
                    <hr>
                    <h2>Your Order</h2>
                    <hr>
                </div>
            </div>
            <div class="row no-gutters bag-contents">
                <div class="col-3 no-gutters"></div>
                <div class="col-6 no-gutters text-center">
                    {% if bag_contents %}
                        <!-- Bag Contents -->
                        <div class="table-responsive rounded d-none d-md-block">
                            <table class="table table-sm table-borderless bag-table">
                                <!-- Table Headers -->
                                <thead class="text-black">
                                    <tr>
                                        <th scope="col">Food</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                {% for item in bag_contents %}
                                    <!-- Display food info -->
                                    <tr>
                                        <td class="p-3 w-25 food-image-container">
                                            {% include 'bag/food-image.html' %}
                                        </td>
                                        <td class="p-3 w-25">
                                            {% include 'bag/food-info.html' %}
                                        </td>
                                        <td class="p-3 w-25">
                                            <p class="my-0">€{{ item.food.price }}</p>
                                        </td>
                                        <td class="p-3 w-25">
                                            {% include 'bag/quantity-form.html' %}
                                        </td>
                                        <td class="p-3 w-25">
                                            <p class="my-0">€{{ item.food.price|calc_subtotal:item.quantity }}</p>
                                        </td>
                                    </tr>
                                    <!-- Horizontal Rule Substitute - referenced https://stackoverflow.com/questions/17169094/how-to-add-horizontal-line-in-a-table -->
                                    <tr class="horizontal-rule">
                                        <td colspan="100%"></td>
                                    </tr>
                                {% endfor %}
                                <!-- Bag total -->
                                <tr>
                                    <td colspan="5" class="pt-5 text-right">
                                        {% include "bag/bag-total.html" %}
                                    </td>
                                </tr>
                                <!-- Buttons -->
                                <tr>
                                    <td colspan="5" class="text-right">
                                        {% include "bag/bag-buttons.html" %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <!-- Link to all_restaurants -->
                        <h4>Whoops!</h4>
                        <p>Looks like haven't added any food to your order yet...</p>
                        <a href="{% url 'restaurants' %}" class="btn btn-info browse-restaurants-btn" role="button">
                            <span>Browse restaurants</span>
                        </a>
                    {% endif %}
                </div>
                <div class="col-3 no-gutters"></div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer_js %} 
    <script src="{% static 'js/quantitySelection.js' %}"></script>
{% endblock %}