<div class="form update-form">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-12 no-gutters">
            <div class="form-group quantity-selector">
                <div class="d-flex justify-content-center input-group">
                    <!-- Minus Button -->
                    <div class="d-flex justify-content-center align-item-center input-group-prepend">
                        <button class="decrement-qty btn btn-black rounded-0" aria-label="Decrease quantity" type="button">
                            <span class="icon">
                                <i class="fas fa-minus"></i>
                            </span>
                        </button>
                    </div>
                    <!-- Quantity Input -->
                    <input class="form-control text-center qty-input" aria-label="Current quantity of food item" type="number" name="{{ food.food.id }}"
                        value="{{ food.quantity }}" min="1" max="15">
                    <!-- Plus Button -->
                    <div class="d-flex justify-content-center align-item-center input-group-append">
                        <button class="increment-qty btn btn-black rounded-0" aria-label="Increase quantity" type="button">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>