{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    <!-- Google Maps API -->
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKX0cNXg4pRdmLccqb9CJVeHBX3kSAh4o&libraries=places&callback=initAutocomplete">
    </script>
{% endblock %}

{% block extra_title %}
    | Home
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section>
            <!-- Background Image -->
            <div class="row no-gutters">
                <div class="col-12 no-gutters">
                    <figure>
                        <img src="{{ MEDIA_URL }}takeaway.webp" class="background-image" alt="tuckin main background prepared take away food">
                    </figure>
                </div>
            </div>
            <div class="row no-gutters justify-content-center">
                <!-- Jumbotron -->
                <div class="col-10 col-lg-4 no-gutters d-flex justify-content-center">
                    <div class="jumbotron jumbotron-fluid text-center shadow rounded d-flex justify-content-center">
                        <div class="container no-gutters">
                            <h1>Tuck into some goodness</h1>
                            <p class="lead">Find restaurants in Dublin, delivering right now</p>
                            <div class="row no-gutters">
                                <div class="col no-gutters">
                                    <form action="{% url 'restaurants' %}" id="address-finder" method="POST">
                                        <div class="d-flex justify-content-center search-field-wrapper">
                                            {% csrf_token %}
                                            <input id="address" name="maps_address" {% if maps_address %}value="{{ maps_address }}"{% endif %} 
                                                type="text" class="address align-middle" minlength="5" required>
                                            <button class="btn btn-lg align-middle find-button" type="submit" disabled>
                                                <i class="fas fa-search d-inline-block d-lg-none"></i>
                                                <span class="d-none d-lg-inline-block">Find</span>
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-center search-error-wrapper">
                                            <div class="error-message-div">
                                                <span class="error-message d-flex justify-content-center"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Cuisines -->
        <section class="row no-gutters d-flex justify-content-center text-center cuisines-section">
            <div class="col-8 col-xl-12 p-0 mb-3 w-100 popular-cuisines">
                <h3>Popular cuisines</h3>
            </div>
            <div class="col-8 col-xl-12 p-0 w-100 cuisines-container">
                <div class="row no-gutters shadow">
                    {% for cuisine in cuisines %}
                        <div class="col no-gutters cuisine-col">
                            <span class="cuisine">
                                <a href="{% url 'restaurants' %}?cuisine={{ cuisine.name }}" class="cuisine-icon">
                                    <i class="{{ cuisine.icon_html }}"></i>
                                    <p class="cuisine-text">{{ cuisine.name|title }}</p>
                                </a>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}