{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    | Home
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section>
            <div class="row no-gutters">
                <div class="col-12 no-gutters">
                    <figure>
                        <img src="{{ MEDIA_URL }}pan.jpg" class="background-image" alt="#">
                    </figure>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-4 no-gutters"></div>
                <div class="col-4 no-gutters">
                    <div class="jumbotron jumbotron-fluid text-center shadow rounded">
                        <div class="container no-gutters">
                            <h1>Tuck In to Some Goodness</h1>
                            <p class="lead">Your One-Stop-Shop for Dublin's Best Restaurants</p>
                            <p>Find restaurants near you, delivering right now</p>
                            <div class="row">
                                <div class="col no-gutters">
                                    <input id="address" type="text" class="address align-middle">
                                    <button class="btn btn-lg align-middle find-button" type="submit">Find</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 no-gutters"></div>
            </div>
        </section>
        <section class="row no-gutters text-center cuisines-section">
            <div class="col-3 no-gutters"></div>
            <div class="col-6 no-gutters">
                <div class="row no-gutters cuisines-container">
                    {% for cuisine in cuisines %}
                        <div class="col no-gutters cuisine-col">
                            <span class="cuisine">
                                <a href="{% url 'restaurants' %}?cuisine={{ cuisine.name }}" class="cuisine-icon">
                                    <i class="{{ cuisine.icon_html }}"></i>
                                    <p class="cuisine-text">{{ cuisine.name|title }}</p>
                                </a>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3 no-gutters"></div>
        </section>
    </div>
{% endblock %}

{% block footer_js %} 
    <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}