{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
    | Your Orders
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="customer-orders">
            <div class="row no-gutters justify-content-center">
                <div class="col-8 no-gutters">
                    <div class="row no-gutters">
                        <aside class="col-3 no-gutters account-sidebar">
                            <a href="{% url 'customer_profile' %}">
                                <h3>Account</h3>
                            </a>
                            <a href="{% url 'customer_order_history' %}">
                                <h3>Order history</h3>
                            </a>
                        </aside>
                        <div class="col-6 no-gutters order-history">
                            <h1 class="account-heading">Previous orders</h1>
                            <!-- Order History List -->
                            {% if orders %}
                                <div class="order-history-card">
                                    {% for order in orders %}
                                        <div class="row no-gutters previous-order">
                                            <!-- Restaurant Info -->
                                            <div class="col-12 no-gutters d-flex justify-content-between">
                                                <div class="d-flex align-items-center restaurant-info-container">
                                                    <!-- Restaurant Logo -->
                                                    <div class="d-inline-flex justify-content-start restaurant-logo-container">
                                                        <a href="{% url 'restaurant_menu' order.order_restaurant.id %}">
                                                            <figure class="restaurant-logo">
                                                                <img src="{{ MEDIA_URL }}{{ order.order_restaurant.logo }}" alt="{{ order.order_restaurant.friendly_name }}"
                                                                    class="restaurant-logo">
                                                            </figure>
                                                        </a>
                                                    </div>
                                                    <!-- Restaurant Address -->
                                                    <a href="{% url 'order_confirmation' order.order_number %}" class="d-inline restaurant-address-container">
                                                        <h3>{{ order.order_restaurant.friendly_name }}</h3>
                                                        <p>{{ order.date }}</p>
                                                        <p>
                                                            {{ order.order_restaurant.address_1 }},
                                                            {% if order.order_restaurant.address_2 %}
                                                                <br>{{ order.order_restaurant.address_2 }}
                                                            {% endif %}
                                                        </p>
                                                        {% if order.order_restaurant.phone_number and order.order_restaurant.phone_number != 0 %}
                                                            <p>{{ order.order_restaurant.phone_number }}</p>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <!-- Order again button -->
                                                <div class="d-inline-flex align-items-start order-again-container">
                                                    <a href="{% url 'order_again' order.order_number %}" class="order-again-btn">Order again</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% if not forloop.last %}
                                            <hr>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            <!-- If no order history -->
                            {% else %}
                                <div class="card no-orders">
                                    <div class="row no-gutters">
                                        <div class="col-12 d-flex justify-content-center mb-5">
                                            <p class="text-white">Looks like you haven't ordered anything yet!</p>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <a href="{% url 'restaurants' %}" class="btn btn-dark" id="find-next-takeaway">
                                                Find your next takeaway
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}