{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
    | Checkout
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="checkout-payment-section">
            <!-- Page Heading -->
            <div class="row no-gutters">
                <div class="col-12 no-gutters text-center">
                    <h2>Order payment</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 no-gutters bag-contents">
                    <!-- Ensure details are correct note -->
                    <div class="row no-gutters justify-content-center pb-3">
                        <div class="col-10 col-lg-8 no-gutters d-flex justify-content-center">
                            <p class="pb-3">Please ensure your details are correct before you complete your order.</p>
                        </div>
                    </div>
                    <!-- Payment Form and Order Summary -->
                    <div class="row no-gutters justify-content-center" id="address-and-payment-form">
                        <div
                            class="col-11 col-md-5 col-xl-3 no-gutters d-flex justify-content-center justify-content-lg-end">
                            <div class="customer-details">
                                <form action="{% url 'checkout_payment' %}" method="POST" id="payment-form">
                                    {% csrf_token %}
                                    <!-- Details -->
                                    <fieldset class="rounded">
                                        <legend class="fieldset-label text-black w-auto">Your Details</legend>
                                        {{ order_form.full_name | as_crispy_field }}
                                        {{ order_form.email | as_crispy_field }}
                                        {{ order_form.phone_number | as_crispy_field }}
                                    </fieldset>
                                    <!-- Address -->
                                    <fieldset class="rounded">
                                        <legend class="fieldset-label text-black w-auto">Delivery Address</legend>
                                        {{ order_form.address_1 | as_crispy_field }}
                                        {{ order_form.address_2 | as_crispy_field }}
                                        {{ order_form.city | as_crispy_field }}
                                        {{ order_form.postcode | as_crispy_field }}
                                        <div
                                            class="form-check form-check-inline pe-3 d-flex justify-content-start align-items-center">
                                            {% if user.is_authenticated %}
                                                <input type="checkbox" class="form-check-input" id="save-info"
                                                    aria-label="Save address to account checkbox" name="save-info" checked>
                                                <span class="form-check-label px-3 save-info">Save this delivery information to
                                                    my profile.</span>
                                            {% else %}
                                                <label class="form-check-label" for="save-info">
                                                    <a href="{% url 'account_signup' %}" class="text-info">Create an account</a>
                                                    or
                                                    <a href="{% url 'account_login' %}" class="text-info">Login</a> to save this
                                                    information.
                                                </label>
                                            {% endif %}
                                        </div>
                                    </fieldset>
                                    <!-- Payment -->
                                    <fieldset>
                                        <legend class="fieldset-label text-black w-auto">Payment</legend>
                                        <!-- Stripe Card Element -->
                                        <div id="card-element"></div>
                                        <!-- Card for Form Errors -->
                                        <div class="text-danger" role="alert" id="card-errors"></div>
                                        <!-- Pass client secret to view to get payment intent id -->
                                        <input type="hidden" name="client_secret" value="{{ client_secret }}">
                                    </fieldset>
                                    <div class="submit-button p-3 mt-4 mb-2">
                                        <!-- Submit Button -->
                                        <button id="submit-button" class="btn d-flex justify-content-center align-items-center" type="submit">
                                            <span class="complete-order">
                                                <strong>Complete Order </strong>
                                            </span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </button>
                                        <!-- Charge Warning -->
                                        <p class="d-flex justify-content-center align-items-center text-danger mt-3 charge-warning">
                                            <span class="d-flex justify-content-center align-items-center icon">
                                                <i class="fas fa-exclamation-circle"></i>
                                            </span>
                                            Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-1 no-gutters gap d-none d-md-block"></div>
                        <!-- Order Summary -->
                        <div class="col-11 col-md-5 col-xl-4 no-gutters d-flex d-md-block justify-content-center justify-content-md-none">
                            <!-- Order Summary Headings -->
                            <div class="row no-gutters order-summary">
                                <div class="col-12 no-gutters">
                                    <p class="card-padding order-summary-heading">
                                        <strong>Order summary ({{ food_item_count }})</strong>
                                        <a href="{% url 'view_bag' %}" class="">
                                            <span class="font-weight-bold">adjust order</span>
                                        </a>
                                    </p>
                                    <div class="row no-gutters card-padding">
                                        <div class="col-7 offset-md-2 no-padding">
                                            <p class="mb-1 mt-0 text-muted">Item</p>
                                        </div>
                                        <div class="col-3 offset-2 offset-md-0 p-0">
                                            <p class="mb-1 text-muted text-end">Subtotal</p>
                                        </div>
                                    </div>
                                    {% for food in bag_contents %}
                                        <div class="row no-gutters card-padding {% if forloop.first %}first-food-item{% endif %}">
                                            <!-- Food Image -->
                                            <div class="col-2 no-gutters mb-1 px-3 ps-md-0 pe-md-3 px-lg-3 d-none d-md-block">
                                                <a href="{% url 'restaurant_menu' food.food.menu_section.restaurant.id %}">
                                                    {% if food.food.image %}
                                                        <img class="w-100 food-image" src="{{ food.food.image.url }}" alt="{{ food.food.friendly_name }}">
                                                    {% else %}
                                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ food.food.friendly_name }}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <!-- Food Details -->
                                            <div class="col-7 no-gutters">
                                                <p class="my-0 food-name">{{ food.food.friendly_name }}</p>
                                                <p class="my-0 text-muted food-qty">Qty: {{ food.quantity }}</p>
                                                <p class="fst-italic my-0">{{ food.additional_details }}</p>
                                            </div>
                                            <!-- Food Price -->
                                            <div class="col-3 offset-2 offset-md-0 p-0">
                                                <p class="my-0 text-muted text-end">{{ food.food.price | calc_subtotal:food.quantity }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <hr class="divider">
                                    <!-- Order Totals -->
                                    <div class="row no-gutters card-padding">
                                        <div class="col-7 offset-md-2 no-padding">
                                            <p class="my-0 subtotal">Subtotal:</p>
                                            <p class="my-0">Delivery:</p>
                                            <br>
                                            <p class="my-0 grand-total">Grand total:</p>
                                        </div>
                                        <div class="col-3 offset-2 offset-md-0 p-0">
                                            <p class="my-0 text-end subtotal">{{ order_total | floatformat:2 }}</p>
                                            <p class="my-0 text-end">{{ delivery_cost | floatformat:2 }}</p>
                                            <br>
                                            <p class="my-0 text-end grand-total grand-total-amount">€{{ grand_total | floatformat:2 }}</p>
                                        </div>
                                    </div>
                                    <hr class="divider">
                                    <!-- Order Message and Restaurant Address -->
                                    <div class="row no-gutters justify-content-center text-center card-padding additional-details">
                                        {% if order_message %}
                                            <!-- Order Message -->
                                            <div class="col-12 col-md-7 offset-md-2 order-message">
                                                <hr class="my-0">
                                                <p class="fst-italic py-3">{{ order_message }}</p>
                                                <hr class="my-0">
                                            </div>
                                        {% endif %}
                                        <!-- Restaurant Address -->
                                        <div class="col-12 col-md-7 no-gutters restaurant-address">
                                            <p class="d-inline-block">{{ order_restaurant.friendly_name }}, {{ order_restaurant.address_1 }},
                                                {{order_restaurant.address_2 }}
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="divider">
                                    <!-- Delivery Time -->
                                    <div class="row no-gutters justify-content-center text-center card-padding delivery-time">
                                        <div class="col-12 col-md-7 no-gutters">
                                            <span><strong>
                                                <i class="fas fa-route"></i> Delivery <span class="dotted-underline">estimated for</span> {{ delivery_time }}
                                            </strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Need Help Prompt Desktop -->
                            <aside class="row no-gutters d-none d-md-block order-summary border-0">
                                <div class="col-12 no-gutters">
                                    <div class="row no-gutters need-help">
                                        <div class="col-12 no-gutters d-flex justify-content-center">
                                            <p>Need help? Visit the
                                                <a href="{% url 'help' %}" id="help-link">help section</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <!-- Need Help Prompt Mobile -->
                    <aside class="row no-gutters d-flex d-md-none">
                        <div class="col-12 no-gutters">
                            <div class="col-11 col-md-6 offset-md-6 col-lg-4 offset-lg-none no-gutters">
                                <div class="row no-gutters need-help">
                                    <div class="col-12 no-gutters d-flex justify-content-center">
                                        <p>Need help? Visit the
                                            <a href="{% url 'help' %}">help section</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
    </div>
    <!-- Loading Overlay -->
    <div id="loading-overlay">
        <h1 class="text-light loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer_js %}
    {{ stripe_public_key | json_script:"id_stripe_public_key" }}
    {{ client_secret | json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripeElements.js' %}"></script>
{% endblock %}