{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
    | Delivery Address
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="checkout-address-section">
            <!-- Page Heading -->
            <div class="row no-gutters">
                <div class="col-12 no-gutters text-center">
                    <h2>Delivery address</h2>
                </div>
            </div>
            <div class="row no-gutters justify-content-center">
                <!-- Address Form -->
                <div class="col-10 col-md-6 col-xl-4 no-gutters text-center">
                    <form action="{% url 'checkout_time' %}" method="POST" class="form" id="delivery-address">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                {{ address_form.full_name | as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ address_form.email | as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ address_form.phone_number | as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ address_form.address_1 | as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ address_form.address_2 | as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ address_form.city | as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ address_form.postcode | as_crispy_field }}
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="form-row address-form-buttons">
                            <!-- Adjust Order -->
                            <a href="{% url 'view_bag' %}" class="btn btn-outline-dark btn-lg" id="adjust-order-button">
                                <span class=" d-inline-flex align-items-center icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Adjust Order</span>
                            </a>
                            <!-- Continue to Delivery Time -->
                            <button class="btn btn-lg continue-checkout-button" type="submit">
                                <span class="d-inline-flex align-items-center text-uppercase">Continue</span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer_js %} 
{% endblock %}