{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
    | Delivery Time
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="checkout-time-section">
            <div class="row no-gutters">
                <div class="col-12 no-gutters text-center">
                    <hr>
                    <h2>Delivery Time</h2>
                    <hr>
                </div>
            </div>
            <div class="row no-gutters bag-contents">
                <div class="col-4 no-gutters"></div>
                <!-- Delivery Time Form -->
                <div class="col-4 no-gutters text-center">
                    <form action="{% url 'checkout_payment' %}" method="POST" class="form" id="delivery-time">
                        {% csrf_token %}
                        <!-- Choose delivery time -->
                        <div class="form-row">
                            <label for="delivery-time">Choose a delivery time:</label>
                            <select name="delivery_time" id="delivery-time-select" required>
                                {% for time in delivery_times %}
                                    <option value="{{ time }}">{{ time }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="from_delivery_time" value="true">
                        </div>
                        <!-- Buttons -->
                        <div class="form-row form-buttons">
                            <a href="{% url 'checkout_address' %}" class="btn btn-outline-dark rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Edit Address</span>
                            </a>
                            <button class="btn btn-outline-dark rounded-0 btn-lg" type="submit">
                                <span class="text-uppercase">Continue to Payment</span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-4 no-gutters"></div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer_js %} 
{% endblock %}