{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
    | Delivery Time
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="checkout-time-section">
            <!-- Page Heading -->
            <div class="row no-gutters">
                <div class="col-12 no-gutters text-center">
                    <h2>Delivery Time</h2>
                </div>
            </div>
            <div class="row no-gutters justify-content-center bag-contents">
                <div class="col-4 no-gutters">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-12 no-gutters">
                            <!-- Delivery Time Form -->
                            <form action="{% url 'checkout_payment' %}" method="POST" class="form" id="delivery-time">
                                {% csrf_token %}
                                <!-- Choose delivery time -->
                                <div class="form-row d-flex justify-content-center pb-4" id="delivery-time-row">
                                    <div class="col-8">
                                        <label class="pb-3" for="delivery-time-select">Choose a delivery time:</label>
                                        <select name="delivery_time" id="delivery-time-select" required>
                                            {% for time in delivery_times %}
                                                <option value="{{ time }}">{{ time }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="from_delivery_time" value="true">
                                    </div>
                                </div>
                                <!-- Buttons -->
                                <div class="row no-gutters form-row justify-content-center delivery-time-form-buttons">
                                    <div class="col-10 d-flex justify-content-center">
                                        <a href="{% url 'checkout_address' %}" class="btn btn-outline-dark btn-lg me-2">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Edit Address</span>
                                        </a>
                                        <button class="btn btn-lg ms-2 continue-checkout-button" type="submit">
                                            <span class="text-uppercase">Go to Payment</span>
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer_js %} 
{% endblock %}