{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
    | Order Confirmation
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="order-confirmation-section">
            <!-- Page Heading -->
            <div class="row no-gutters">
                <div class="col-12 no-gutters text-center">
                    <hr>
                    <h2>Order Confirmation!</h2>
                    <hr>
                </div>
            </div>
            <div class="row no-gutters order-contents">
                <div class="col-3 no-gutters"></div>
                <div class="col-6 no-gutters">
                    <!-- Page Header -->
                    <div class="row no-gutters">
                        <div class="col no-gutters text-center order-confirmation-subheader">
                            <h3>Your order has been submitted to the restaurant!</h3>
                            <h5>You should be contacted by the restaurant in a few moments to confirm your order.</h4>
                        </div>
                    </div>
                    <!-- Order Details -->
                    <div class="row no-gutters">
                        <div class="col-md-6 no-gutters">
                            <!-- Order Summary Card -->
                            <div class="m-3 order-summary-card">
                                <!-- Restaurant Info -->
                                <div class="restaurant-info-container d-flex">
                                    <!-- Restaurant Logo -->
                                    <div class="restaurant-checkout-logo-container d-flex">
                                        <a href="{% url 'restaurant_menu' order.order_restaurant.id %}">
                                            <figure class="restaurant-checkout-logo">
                                                <img src="{{ MEDIA_URL }}{{ order.order_restaurant.logo }}" alt="{{ order.order_restaurant.friendly_name }}"
                                                    class="restaurant-checkout-logo">
                                            </figure>
                                        </a>
                                    </div>
                                    <!-- Restaurant Address and Phone -->
                                    <div class=" restaurant-address-container">
                                        <h3 class="d-inline restaurant-checkout-name">{{ order.order_restaurant.friendly_name }}</h3>
                                        <p class="restaurant-checkout-address m-0">
                                            {{ order.order_restaurant.address_1 }},
                                            {% if order.order_restaurant.address_2 %}
                                                <br>{{ order.order_restaurant.address_2 }}
                                            {% endif %}
                                        </p>
                                        <p class="restaurant-checkout-phone">{{ order.order_restaurant.phone_number }}</p>
                                        <a href="{% url 'restaurant_menu' order.order_restaurant.id %}" class="checkout-view-menu">View menu</a>
                                    </div>
                                </div>
                                <hr>
                                <!-- Order Summary -->
                                <div class="order-summary-confirmation">
                                    <h3 class="order-summary-heading">Order Summary</h3>
                                    <p class="d-inline-block small float-right order-number">Ref: {{ order.order_number }}</p>
                                    {% for food in bag_contents %}
                                        <p class="food-line-item small"><strong>{{ food.food.friendly_name }}</strong></p>
                                        {% if food.additional_details %}
                                            <p class="food-additional-details small">{{ food.additional_details }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <hr>
                                <!-- Order Fees -->
                                <div class="order-fees">
                                    <p class="small subtotal">Subtotal</p>
                                    <br>
                                    <p class="small delivery-cost">Delivery fee</p>
                                </div>
                                <hr>
                                <!-- Order Total -->
                                <div class="order-total">
                                    <h3 class="total-paid">Total paid</h3>
                                    <h2 class="grand-total d-inline">€{{ grand_total }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 no-gutters">
                            <!-- Delivery Info Card -->
                            <div class="m-3 delivery-info-card">
                                <!-- Address Info -->
                                <div class="delivery-info-container d-flex">
                                    <!-- Marker Icon -->
                                    <div class="delivery-checkout-marker-container d-flex justify-content-center">
                                        <span class="delivery-checkout-marker"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                    <!-- Address and Phone -->
                                    <div class="delivery-address-container">
                                        <h3 class="restaurant-checkout-name">Delivering to</h3>
                                        <p class="customer-checkout-address mt-3">
                                            <strong>{{ order.full_name }}</strong><br>
                                            {{ order.address_1 }},<br>
                                            {% if order.address_2 %}
                                                {{ order.address_2 }},<br>
                                            {% endif %}
                                            {{ order.city }}
                                            {% if order.postcode %}
                                                <br>{{ order.postcode }}
                                            {% endif %}
                                        </p>
                                        <p class="restaurant-checkout-phone">{{ order.phone_number }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Order Note -->
                            <div class="m-3 delivery-info-card">
                                <!-- Order Note Container -->
                                <div class="d-flex delivery-info-container">
                                    <!-- Icon -->
                                    <div class="d-flex justify-content-center delivery-checkout-marker-container">
                                        <span class="delivery-checkout-marker"><i class="fas fa-store"></i></span>
                                    </div>
                                    <!-- Note Text -->
                                    <div class="delivery-address-container">
                                        <h3 class="restaurant-checkout-name">Your Note</h3>
                                        <p class="customer-checkout-address mt-3">
                                            <strong>Contactless Delivery</strong>
                                        </p>
                                        <p class="customer-checkout-address mt-3">
                                            {% if order.order_note %}
                                                {{ order.order_note }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 no-gutters"></div>
            </div>
        </section>
    </div>
{% endblock %}