{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
    | Order Confirmation
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="order-confirmation-section">
            <div class="row no-gutters">
                <div class="col-12 no-gutters text-center">
                    <hr>
                    <h2>Order Confirmation</h2>
                    <hr>
                </div>
            </div>
            <div class="row no-gutters order-contents">
                <div class="col-3 no-gutters"></div>
                <div class="col-6 no-gutters">
                    <div class="row no-gutters">
                        <div class="col no-gutters">
                            <h3>Your order has been submitted to the restaurant!</h3>
                            <h5>You should be contacted by the restaurant in a few moments to confirm your order.</h4>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6 no-gutters">
                            <!-- Order Summary Card -->
                            <div class="order-summary-card">
                                <!-- Restaurant Info -->
                                <div class="restaurant-info-container d-flex">
                                    <div class="restaurant-checkout-logo-container d-flex">
                                        <a href="{% url 'restaurant_menu' order.order_restaurant.id %}">
                                            <figure class="restaurant-checkout-logo">
                                                <img src="{{ MEDIA_URL }}{{ order.order_restaurant.logo }}" alt="{{ order.order_restaurant.friendly_name }}"
                                                    class="restaurant-checkout-logo">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class=" restaurant-info-container">
                                        <h3 class="d-inline restaurant-checkout-name">{{ order.order_restaurant.friendly_name }}</h3>
                                        <p class="restaurant-checkout-address m-0">{{ order.order_restaurant.address_1 }}, {{ order.order_restaurant.address_2 }}</p>
                                        <p class="restaurant-checkout-phone">{{ order.order_restaurant.phone_number }}</p>
                                        <a href="{% url 'restaurant_menu' order.order_restaurant.id %}" class="checkout-view-menu">View menu</a>
                                    </div>
                                </div>
                                <hr>
                                <!-- Order Summary -->
                                <div class="order-summary">
                                    <h3 class="order-summary-heading">Order Summary</h3>
                                    <p class="d-inline-block small float-right order-number">Ref: {{ order.order_number }}</p>
                                    {% for food in bag_contents %}
                                        <p class="food-line-item small"><strong>{{ food.food.friendly_name }}</strong></p>
                                        {% if food.additional_details %}
                                            <p class="food-additional-details small">{{ food.additional_details }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <hr>
                                <!-- Order Fees -->
                                <div class="order-fees">
                                    <p class="small subtotal">Subtotal</p>
                                    <br>
                                    <p class="small delivery-cost">Delivery fee</p>
                                </div>
                                <hr>
                                <!-- Order Total -->
                                <div class="order-total">
                                    <h3 class="total-paid">Total paid</h3>
                                    <h2 class="grand-total d-inline">€{{ grand_total }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 no-gutters"></div>
                    </div>
                </div>
                <div class="col-3 no-gutters"></div>
            </div>
        </section>
    </div>
{% endblock %}