/* ----------------------------------------- Customer Account */

main {
    padding-bottom: 32rem;
}

#customer-account, #customer-orders {
    margin-top: 7rem;
}

.account-heading {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.account-sidebar h3 {
    font-size: 2rem;
    font-weight: 300;
}

h3.sidebar-active {
    font-weight: 600;
}

.save-changes-button {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background-color: #008dff;
    border-radius: .3rem;
    padding: 1rem;
}

.save-changes-button:hover, .save-changes-button:focus {
    color: #fff;
    background-color: #0193c9;
}

/* ----------------------------------------- Customer Order History */

.order-history-card {
    padding: 0;
    border: none;
    border-radius: .3rem;
}

.previous-order {
    padding: 1.6rem 0;
}

.order-divider {
    color: #333;
}

.restaurant-logo-container {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0em 1rem 0 0;
}

.restaurant-address-container {
    color: black;
}

.restaurant-address-container:hover, .restaurant-address-container:focus {
    color: grey;
}

.restaurant-address-container h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.restaurant-address-container p {
    font-size: 1.4rem;
}

.restaurant-logo {
    height: 5.5rem;
    width: 5.5rem;
}

.order-again-btn {
    font-size: 1.4rem;
    padding: 1rem;
    color: #fff;
    background-color: #ff7200;
    font-weight: 600;
    border-radius: .3rem;
}

.order-again-btn:hover, .order-again-btn:focus {
    color: #fff;
    background-color: rgb(202, 57, 4);
}

.no-orders {
    background-color: #008dff;
    padding: 2rem;
}

.no-orders p {
    font-size: 2rem;
    font-weight: 500;
}

#find-next-takeaway {
    font-size: 1.75rem;
    padding: 1.1rem;
}

/* ----------------------------------------- >=768px */

@media screen and (min-width: 768px) {
    main {
        padding-bottom: 18rem;
    }
    .order-history-card {
        padding: 2.4rem;
        border: .1rem solid #c8cfd6;
    }
}

/* ----------------------------------------- >=992px */

@media screen and (min-width: 992px) {
    #customer-account, #customer-orders {
        margin-top: 16rem;
    }
    .order-history-card {
        padding: 2.4rem;
    }
    .previous-order {
        padding: 1.6rem;
    }
    .order-again-btn {
        font-size: 1.8rem;
        padding: 1rem;
        font-weight: 600;
        border-radius: .3rem;
    }
}