{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'footer_links/css/footer_links.css' %}">
{% endblock %}

{% block extra_title %}
    | List Your Restaurant
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <!-- Hero Image -->
        <section class="row no-gutters" id="list-your-restaurant-cover-image">
            <div class="col-12 no-gutters">
                <figure>
                    <img src="{{ MEDIA_URL }}list_your_restaurant_cover_image.webp"
                        class="background-image footer-background-image" alt="list your restaurant background image">
                    <div class="background-image shadow-overlay"></div>
                </figure>
                <h1 class="text-center w-100 restaurant-name-menu" id="list-your-restaurant-heading">Want to list your
                    restaurant?</h1>
                <p class="text-center w-100 restaurant-name-menu" id="list-your-restaurant-tagline">Fill out the form below and
                    we'll be in contact!</p>
            </div>
        </section>
        <!-- Form -->
        <section id="list-your-restaurant">
            <div class="row no-gutters">
                <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-0">
                    <form action="{% url 'list_your_restaurant' %}" method="POST" class="footer-link-form">
                        <div class="row list-restaurant-fields text-center">
                            <div class="col-12 col-md-6 no-gutters form-col-left">
                                <label for="restaurant-name">Restaurant Name *</label>
                                <input type="text" id="restaurant-name" name="restaurant-name" required>
                            </div>
                            <div class="col-12 col-md-6 no-gutters form-col-right">
                                <label for="contact-name">Your Name *</label>
                                <input type="text" id="contact-name" name="contact-name" required>
                            </div>
                            <div class="col-12 col-md-6 no-gutters form-col-left">
                                <label for="restaurant-phone">Restaurant Phone *</label>
                                <input type="text" id="restaurant-phone" name="restaurant-phone" required>
                            </div>
                            <div class="col-12 col-md-6 no-gutters form-col-right">
                                <label for="contact-number">Your Phone *</label>
                                <input type="tel" id="contact-number" name="contact-number" required>
                            </div>
                            <div class="col-12 col-md-6 no-gutters form-col-left">
                                <label for="restaurant-address-1">Restaurant Address 1 *</label>
                                <input type="text" id="restaurant-address-1" name="restaurant-address-1" required>
                            </div>
                            <div class="col-12 col-md-6 no-gutters form-col-right">
                                <label for="restaurant-address-2">Restaurant Address 2</label>
                                <input type="text" name="restaurant-address-2" id="restaurant-address-2">
                            </div>
                            <div class="col-12 col-md-6 no-gutters form-col-left">
                                <label for="restaurant-cuisine">Cuisine *</label>
                                <select name="restaurant-cuisine" id="restaurant-cuisine" required>
                                    <option label="None" value="" autofocus></option>
                                    {% for cuisine in cuisines %}
                                        <option value="{{ cuisine.name }}">{{ cuisine.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-md-6 no-gutters form-col-right">
                                <label for="postcode">Postcode</label>
                                <input type="text" name="postcode" id="postcode">
                            </div>
                            <button type="submit" class="footer-links-submit-button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}