/* ----------------------------------------- General */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    letter-spacing: .014rem;
}

main {
    padding-bottom: 1rem;
}

.no-gutters, figure {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 2.2rem;
}

p {
    font-size: 1.6rem;
    margin: 0;
}

a {
    color: orangered;
    border-bottom: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    text-decoration: none;
    letter-spacing: .0125rem;
}

a:hover {
    color: rgba(255, 68, 0, 0.774);
}

input {
    font-size: 2rem;
}

select,
option {
    font-size: 1.6rem;
}

hr {
    color: #c5ccd3;
}

strong {
    font-size: inherit;
}

.row {
    margin: 0;
    padding: 0;
}

.btn span {
    font-size: 1.25rem;
}

.font-weight-bold {
    font-weight: bold;
}

.card-padding {
    padding: 1.8rem 2rem 0 2rem;
}

.no-padding {
    padding: 0;
}

/* ----------------------------------------- Messages & Toasts */

.messages-container {
    position: relative;
    color: black;
}

.custom-toast {
    z-index: 9999999;
    overflow: visible;
    position: absolute;
    top:7.5rem;
    right: 2rem;
}

.toast-capper {
    height: .25rem;
}

.toast-header strong {
    font-size: 1.6rem;
}

.bag-hr {
    color: #9da1a5;
}

/* Referenced: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -1rem;
    right: 66.5%;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.bag-notification-wrapper {
    height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ----------------------------------------- Navbar */

header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0));
}

.navbar-brand {
    font-size: 3.1rem;
    color: #fafafa;
    font-family: 'Baloo 2', cursive;
    font-style: italic;
    font-weight: 500;
}

.nav-link {
    font-size: 1.7rem;
    color: #fafafa;
}

.nav-link i {
    color: orangered;
}

#desktop-search-button {
    color: #fafafa;
    font-size: 2rem;
    width: 12%;
    padding: 0 1rem 2rem 1rem;
}

.search-icon {
    transition: all 0s ease-in-out;
}

.search-bar-container {
    padding-top: 1.3rem;
}

#searchbar {
    font-size: 1.6rem;
    width: 24rem;
    height: 65%;
}

#desktop-search-button:hover {
    color: orangered;
}

.bag-icon a i {
    font-size: 2.2rem;
    color: white;
}

.bag-icon a i:hover {
    font-size: 2.2rem;
    color: orangered;
}

/* ----------------------------------------- Footer */

footer {
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #f1f2f4;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer a, footer span {
    font-size: 1.6rem;
    text-decoration: none;
}

.footer-icons a i {
    padding-right: .9rem;
    font-size: 1.8rem;
}

/* ----------------------------------------- Login/Signup */

#login, #signup {
    margin-top: 16rem;
}

#login p, #signup p {
    font-size: 2rem;
}

#login label, #signup label {
    font-size: 1.5rem;
    margin: 1rem 0 .75rem 0;
}

#login input, #signup input {
    font-size: 1.8rem;
    width: 100%;
}

#login input[type='checkbox'] {
    width: auto;
}

#login button, #signup button {
    font-size: 2rem;
    padding: .2rem .4rem .5rem .4rem;
}

#signup button {
    margin-top: 1rem;
}

#login a, #signup a {
    font-size: 2rem;
}

/* ----------------------------------------- Stripe */

.StripeElement,
.stripe-style-input,
.profile-form-input {
    box-sizing: border-box;
    height: 4rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: .1rem solid #c5ccd3;
    border-radius: .3rem;
    background-color: white;
    box-shadow: 0 .1rem .3rem 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active,
.profile-form-input:focus,
.profile-form-input:active {
    box-shadow: 0 1px 3px 0 #c5ccd3;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder,
.profile-form-input::placeholder {
    color: #aab7c4;
}

fieldset {
    padding: 1rem;
}

.stripe-style-input,
.profile-form-input {
    width: 100%;
}

.fieldset-label {
    position: relative;
    left: 0;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #c8cfd6;
}

.form-check .form-check-input {
    margin: .25rem;
}

select,
select option {
    color: #000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* ----------------------------------------- Footer Links */

#list-your-restaurant-cover-image h1 {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    color: #fafafa;
    font-size: 5rem;
}

#list-your-restaurant-cover-image p {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    color: #fafafa;
    font-size: 2rem;
}

.footer-background-image {
    max-height: 39vh;
}

.footer-link-form {
    margin-top: 5rem;
}

.list-restaurant-fields {
    margin-bottom: 3rem;
}

.form-col-left {
    padding-right: 5rem;
}

.form-col-right {
    padding-left: 5rem;
}

.list-restaurant-fields input,
.list-restaurant-fields label, 
.list-restaurant-fields select,
.list-restaurant-fields option {
    display: flex;
    font-size: 2rem;
    padding: .3rem 1rem .3rem .3rem;
}

.list-restaurant-fields input,
.list-restaurant-fields select {
    width: 100%;
}

.list-restaurant-fields label {
    margin: 2rem 0 .3rem 0;
}

.footer-links-submit-button {
    margin-top: 3rem;
    font-size: 2rem;
}