/* ----------------------------------------- General */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    /* transition: all .15s ease-in-out; */
    margin: 0;
    padding: 0;
    font-size: 10px;
    /* border: 1px solid red; */
}

main {
    padding-bottom: 10rem;
}

.no-gutters, figure {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 2.2rem;
}

p {
    font-size: 1.6rem;
}

a {
    color: orangered;
    border-bottom: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    text-decoration: none;
    letter-spacing: .0125rem;
}

a:hover {
    color: rgba(255, 68, 0, 0.774);
}

input {
    font-size: 2rem;
}

.font-weight-bold {
    font-weight: bold;
}

/* ----------------------------------------- Navbar */

header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0));
}

.navbar-brand {
    font-size: 3.1rem;
    color: #fafafa;
    font-family: 'Pacifico', 'Open Sans', serif;
}

.nav-link {
    font-size: 1.7rem;
    color: #fafafa;
}

.nav-link i {
    color: orangered;
}

#desktop-search-button {
    color: #fafafa;
    font-size: 2rem;
    width: 12%;
    padding: 0 1rem 2rem 1rem;
}

.search-icon {
    transition: all 0s ease-in-out;
}

.search-bar-container {
    padding-top: 1.3rem;
}

#searchbar {
    font-size: 1.6rem;
    width: 24rem;
    height: 65%;
}

#desktop-search-button:hover {
    color: orangered;
}

.bag-icon a i {
    font-size: 2.2rem;
    color: white;
}

.bag-icon a i:hover {
    font-size: 2.2rem;
    color: orangered;
}

/* ----------------------------------------- Footer */

footer {
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #f1f2f4;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer a, footer span {
    font-size: 1.6rem;
    text-decoration: none;
}

.footer-icons a i {
    padding-right: .9rem;
    font-size: 1.8rem;
}

/* ----------------------------------------- Homepage */

.background-image {
    min-width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 6.5rem 9rem;
    max-height: 30rem;
}

.lead {
    font-size: 2rem;
}

.address {
    padding: .45rem;
}

.find-button {
    font-size: 2rem;
    background-color: orangered;
    color: #fafafa;
    border: orangered 1px solid;
}

.find-button:hover {
    font-size: 2rem;
    background-color: rgba(255, 68, 0, 0.774);
    color: white;
    border: rgba(255, 68, 0, 0.774) 1px solid;
}

.cuisines-section {
    margin-top: 10rem;
}

.cuisines-container {
    -webkit-box-shadow: 0px 4px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px -4px rgba(0,0,0,0.75);
}

.cuisine-col {
    background-color: rgba(255, 68, 0, 0.808);
    padding: 1.25rem 0 1rem 0;
    transition: text-decoration .05s ease-in-out, box-shadow .05s ease-in-out;
}

.cuisine i {
    font-size: 3.4rem;
    padding: 1rem;
}

.cuisine a {
    color: #fafafa;
    font-weight: 500;
}

.cuisine-col:hover {
    text-decoration: underline;
    -webkit-box-shadow: inset 0px 0px 74px -19px rgba(0,0,0,0.33);
    -moz-box-shadow: inset 0px 0px 74px -19px rgba(0,0,0,0.33);
    box-shadow: inset 0px 0px 74px -19px rgba(0,0,0,0.33);
}

/* ----------------------------------------- Restaurants */

#restaurants {
    margin-top: 13rem;
}

.restaurant-card-cover-image-container {
    position: relative;
}

.restaurant-card-logo {
    position: absolute;
    left: 5%;
    bottom: 6%;
    max-width: 33%;
}

.restaurant-cuisines-col {
    margin-right: 0rem;
}

.restaurant-cuisines-col h4 {
    margin-bottom: 3rem;
}

.nearby-restaurants {
    margin-left: 4.5%;
}

.dropdown {
    margin-right: 7%;
}

#sort-by, .dropdown-item, .dropdown-toggle {
    font-size: 1.5rem;
}

.card-body {
    padding: 0;
    margin: 7% 14%;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
}

.delivery-cost {
    font-weight: bold;
}

.restaurant-rating i {
    font-size: 1.4rem;
}

.restaurant-cuisine i {
    font-size: 2.5rem;
}

.restaurant-cuisine-name {
    padding-bottom: 1.7rem;
}

/* ----------------------------------------- Restaurant Menu */

.menu-background-image {
    max-height: 39vh;
}

.restaurant-name-menu {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    color: #fafafa;
    font-size: 5rem;
}

.shadow-overlay {
    position:absolute;
    top: 0;
    max-height: 39vh;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
}

.restaurant-menu-section {
    margin-top: 5rem;
}

.menu-sections-container {
    margin: 3rem 0 1.5rem 0;
}

.menu-section {
    display: inline-block;
    padding-right: 6rem;
}

#menu-divider {
    margin-bottom: 4rem;
}

.menu-section-food-items {
    margin-bottom: 5rem;
}

.menu-section-heading {
    margin-bottom: 1rem;
}

.food-item-card-body {
    margin: 0;
    padding: 2rem;
    border: 1px #e6e9ec solid;
    border-radius: 5px;
}

.food-item-card-text {
    max-width: 50%;
}

.food-item-photo {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    height: 100%;
    width: 40%;
    object-fit: cover;
}

/* Modal */

.modal-body {
    padding: 0;
    margin: 1rem;
}

.modal-image {
    height: 15rem;
    margin: 1.5rem;
}

#food-item-modal-image {
    position: relative;
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
}

#quantity-title strong {
    font-size: 1.4rem;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-group-prepend,
.input-group-append {
    display: flex;
    align-items: center;
}

.modal-footer {
    justify-content: center;
}

.food-item-form {
    margin-top: 5rem;
}

.qty-input,
.icon i,
.food-form-btn {
    font-size: 1.6rem;
}

/* ----------------------------------------- Shopping Bag */

#shopping-bag-section {
    margin-top: 9rem;
}

.bag-contents {
    margin-top: 3rem;
}

/* ----------------------------------------- Order Confirmation */

#order-confirmation-section {
    margin-top: 9rem;
}

/* ----------------------------------------- Login/Signup */

#login, #signup {
    margin-top: 16rem;
}

#login p, #signup p {
    font-size: 2rem;
}

#login label, #signup label {
    font-size: 1.5rem;
    margin: 1rem 0 .75rem 0;
}

#login input, #signup input {
    font-size: 1.8rem;
    width: 100%;
}

#login input[type='checkbox'] {
    width: auto;
}

#login button, #signup button {
    font-size: 2rem;
    padding: .2rem .4rem .5rem .4rem;
}

#signup button {
    margin-top: 1rem;
}

#login a, #signup a {
    font-size: 2rem;
}

/* ----------------------------------------- Customer Account Info */

#customer-account, #customer-orders {
    margin-top: 16rem;
}

/* ----------------------------------------- Footer Links */

#list-your-restaurant-cover-image h1 {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    color: #fafafa;
    font-size: 5rem;
}

#list-your-restaurant-cover-image p {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    color: #fafafa;
    font-size: 2rem;
}

.footer-background-image {
    max-height: 39vh;
}

.footer-link-form {
    margin-top: 5rem;
}

.list-restaurant-fields {
    margin-bottom: 3rem;
}

.form-col-left {
    padding-right: 5rem;
}

.form-col-right {
    padding-left: 5rem;
}

.list-restaurant-fields input,
.list-restaurant-fields label, 
.list-restaurant-fields select,
.list-restaurant-fields option {
    display: flex;
    font-size: 2rem;
    padding: .3rem 1rem .3rem .3rem;
}

.list-restaurant-fields input,
.list-restaurant-fields select {
    width: 100%;
}

.list-restaurant-fields label {
    margin: 2rem 0 .3rem 0;
}

.footer-links-submit-button {
    margin-top: 3rem;
    font-size: 2rem;
}