<div class="position-absolute start-0 top-0 w-100" id="sidebar-nav">
    <div id="sidebar-logo">
        <!-- Logo -->
        <h2 class="d-inline-block logo mobile-logo">
            <a class="font-italic text-dark navbar-brand {% if dynamic_navbar %}navbar-scroll-transition{% else %}navbar-brand-block-colour{% endif %}"
                href="{% url 'home' %}">
                TUCKIN
            </a>
        </h2>
        <!-- Close button -->
        <a href="javascript:void(0)" class="text-dark" id="sidebar-close" onclick="closeNav()" aria-label="Close">&times;</a>
    </div>
    <ul class="list-group d-flex justify-content-end">
        <li class="list-group-item"><a href="{% url 'home' %}" class="text-dark nav-link">Home</a></li>
        {% if request.user.is_authenticated %}    
            <li class="list-group-item"><a href="{% url 'customer_profile' %}" class="text-dark nav-link">Account</a></li>
            <li class="list-group-item"><a href="{% url 'account_logout' %}" class="text-dark nav-link">Log Out</a></li>
        {% else %}
            <li class="list-group-item"><a href="{% url 'account_login' %}" class="text-dark nav-link">Login</a></li>
            <li class="list-group-item"><a href="{% url 'account_signup' %}" class="text-dark nav-link">Register</a></li>
        {% endif %}
        <li class="list-group-item"><a href="#" class="text-dark nav-link">Help</a></li>
    </ul>
</div>