<div class="position-absolute start-0 top-0 close-nav" id="sidebar-nav">
    <div id="sidebar-logo">
        <!-- Logo -->
        <h2 class="d-inline-block logo mobile-logo">
            <a class="font-italic text-dark navbar-brand {% if dynamic_navbar %}navbar-scroll-transition{% else %}navbar-brand-block-colour{% endif %}"
                href="{% url 'home' %}">
                TUCKIN
            </a>
        </h2>
        <!-- Close button -->
        <a href="javascript:void(0)" class="text-dark" id="sidebar-close" onclick="closeNav()" aria-label="Close">&times;</a>
    </div>
    <ul class="list-group d-flex justify-content-end">
        <li class="list-group-item"><a href="{% url 'home' %}" class="text-dark nav-link">Home</a></li>
        {% if request.user.is_authenticated %}    
            <li class="list-group-item"><a href="{% url 'customer_profile' %}" class="text-dark nav-link">Account</a></li>
            <li class="list-group-item"><a href="{% url 'customer_order_history' %}" class="text-dark nav-link">Order History</a></li>
            <li class="list-group-item"><a href="{% url 'account_logout' %}" class="text-dark nav-link">Log Out</a></li>
        {% else %}
            <li class="list-group-item"><a href="{% url 'account_login' %}" class="text-dark nav-link">Login</a></li>
            <li class="list-group-item"><a href="{% url 'account_signup' %}" class="text-dark nav-link">Register</a></li>
        {% endif %}
        <li class="list-group-item"><a href="{% url 'help' %}" class="text-dark nav-link">Help</a></li>
        <!-- Search Bar -->
        <li class="list-group-item">
            <div class="search-bar-container d-flex justify-content-start">
                <form action="{% url 'restaurants' %}" method="GET" class="d-flex">
                    <input type="text" pattern="^[a-zA-Z]{1,30}$" class="form-control border border-black rounded-1 mobile-searchbar"
                        id="searchbar" name="q" placeholder="Favourite Restaurant?" minlength="3" required>
                    <button id="mobile-search-button" aria-label="Search button" class="form-control btn rounded-0"
                        type="submit">
                        <span
                            class="search-icon {% if dynamic_navbar %}navbar-scroll-transition{% else %}search-icon-block-colour{% endif %}"><i
                                class="fas fa-search"></i></span>
                    </button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </li>
    </ul>
</div>