<!-- Sidebar Menu Toggler - referenced Bootstrap Docs https://getbootstrap.com/docs/5.0/components/navbar/#responsive-behaviors -->
<a href="javascript:void(0)" onclick="openNav()"
    class="navbar-toggler {% if dynamic_navbar %}navbar-scroll-transition{% else %}navbar-toggler-block-colour{% endif %}"
    type="text/javascript" aria-controls="sidebar-nav" aria-expanded="false" aria-label="Open navigation">
    <span class="navbar-toggler-icon"></span>
</a>
<!-- Logo -->
<div class="list-inline-item">
    <h2 class="logo mobile-logo">
        <a class="font-italic navbar-brand {% if dynamic_navbar %}navbar-scroll-transition{% else %}navbar-brand-block-colour{% endif %}"
            href="{% url 'home' %}">
            TUCKIN
        </a>
    </h2>
</div>
<!-- Bag -->
<div class="list-inline-item">
    <a class="{% if food_item_count %}font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
        href="{% url 'view_bag' %}">
        <div class="text-center">
            <i
                class="fa-stack-2x fas fa-shopping-bag fa-lg position-relative {% if dynamic_navbar %}text-white{% else %}text-dark{% endif %}">
                <span class="fa-stack-1x my-2 {% if dynamic_navbar %}text-dark{% else %}text-white{% endif %}">
                    {% if food_item_count %}
                        {{ food_item_count }}
                    {% endif %}
                </span>
            </i>
        </div>
    </a>
</div>
