<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<li class="list-inline-item">
    <a class="{% if food_item_count %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
        href="{% url 'view_bag' %}">
        <div class="text-center">
            <i class="fa-stack-2x fas fa-shopping-bag fa-lg position-relative">
                <span class="fa-stack-1x my-2 text-white">
                    {% if food_item_count %}
                        {{ food_item_count }}
                    {% endif %}
                </span>
            </i>
        </div>
    </a>
</li>