{% extends "account/base.html" %}

{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}Sign In{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="login">
            <div class="row no-gutters d-flex justify-content-center">
                <div class="col-10 col-md-5 col-lg-5 col-xl-3 no-gutters">
                    <h1>Sign In</h1>
                        <p>If you have not created an account yet, then please
                            <a href="{{ signup_url }}" id="sign-up-link">sign up</a> first.
                        </p>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction" type="submit">Sign In</button>
                        <p id="div_id_forgot" class="mt-2">
                            <a class="button secondaryAction" id="forgot-password-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}