{% extends "account/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section id="sign-out">
            <div class="row no-gutters justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 no-gutters">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-6 col-md-4 no-gutters mb-5">
                            <h1>Sign Out</h1>
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-center">
                        <div class="col-8 col-md-6 col-lg-4 no-gutters">
                            <p class="mb-3">Are you sure you want to sign out?</p>
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button id="log-out-button" class="btn btn-dark" type="submit">Sign Out</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
