{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Change Password{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section class="password-reset" id="login">
            <div class="row no-gutters d-flex justify-content-center">
                <div class="col-10 col-md-5 col-lg-5 col-xl-3 no-gutters">
                    <h1>Change Password</h1>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" name="action">Change Password</button>
                        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
