{% extends "base.html" %}

{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section class="password-reset" id="login">
            <div class="row no-gutters d-flex justify-content-center">
                <div class="col-10 col-md-5 col-lg-5 col-xl-3 no-gutters">
                    <h1>Password Reset</h1>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
