{% extends "account/base.html" %}

{% block head_title %}Verify Your Email Address{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters">
        <section class="verification-sent" id="login">
            <div class="row no-gutters d-flex justify-content-center">
                <div class="col-10 col-md-5 col-lg-5 col-xl-3 no-gutters">
                    <h1>Verify Your Email Address</h1>
                    <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
