{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    | 404
{% endblock %}

{% block content %}
<div class="container-fluid no-gutters">
    <section id="error-section" class="row no-gutters">
        <!-- Hero Image -->
        <div class="col-12 no-gutters">
            <figure>
                <img src="{{ MEDIA_URL }}error_background.webp" class="menu-background-image error-image"
                    alt="Error 404 image">
                <div class="shadow-overlay d-flex justify-content-center align-items-center error-image">
                    <div class="row no-gutters">
                        <div class="col-12 no-gutters text-center">
                            <h1 id="error-title">404 Oops! Looks like an error occurred...</h1>
                        </div>
                    </div>
                </div>
            </figure>
        </div>
        <!-- Back to home button -->
        <div class="col-12 no-gutters">
            <div class="button-wrapper d-flex justify-content-center">
                <a href="{% url 'home' %}" class="btn btn-lg" id="back-to-homepage-btn">Back to home</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}