{% load static %}

<!doctype html>
<html lang="en-ie">

<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Inter:wght@432&display=swap"
            rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/e2f6d2d599.js" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Google Maps API -->
        <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKX0cNXg4pRdmLccqb9CJVeHBX3kSAh4o&libraries=places&callback=initAutocomplete"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>TuckIn {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="fixed-top">
        {% block page_header %}
        {% endblock %}
        <div id="topnav" class="row d-none d-lg-flex">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid justify-content-evenly align-items-center">
                        <h2 class="logo d-flex justify-content-start"><a href="{% url 'home' %}" class="navbar-brand">TUCKIN - Dublin</a></h2>
                        <div class="search-bar-container d-flex justify-content-end">
                            <form action="{% url 'restaurants' %}" method="GET" class="d-flex">
                                <input type="text" class="form-control border border-black rounded-1" id="searchbar" name="q"
                                    placeholder="Favourite Restaurant?">
                                <button id="desktop-search-button" class="form-control btn rounded-0" type="submit">
                                    <span class="search-icon"><i class="fas fa-search"></i></span>
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                        <ul class="navbar-nav d-flex justify-content-end">
                            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
                            {% if request.user.is_authenticated %}    
                                <li class="nav-item"><a href="{% url 'customer_profile' %}" class="nav-link">Account</a></li>
                                <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Log Out</a></li>
                            {% else %}
                                <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
                                <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link">Register</a></li>
                            {% endif %}
                            <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
                        </ul>
                        <div class="shopping-bag d-flex justify-content-end">
                            <span class="nav-item bag-icon">
                                <a class="nav-link" href="{% url 'view_bag' %}">
                                    <i class="fas fa-shopping-bag"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row bg-white d-flex d-lg-none">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="message-container">
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast-error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast-warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast-success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast-info.html' %}
                    {% endif %}
                {% endwith %}
            </div>
        {% endfor %}
    {% endif %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        {% endblock %}
        <div class="d-flex justify-content-center">
            <div class="row w-100">
                <div class="col-4 footer-col d-flex justify-content-center">
                    <div class="footer-links">
                        <h4>Partner With Us</h3>
                        <a href="{% url 'list_your_restaurant' %}">List your restaurant</a>
                    </div>
                </div>
                <div class="col-4 footer-col d-flex justify-content-center">
                    <div class="footer-icons">
                        <h4>Follow Us</h3>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-4 footer-col d-flex justify-content-center">
                    <div class="footer-links">
                        <h4>The Legal Stuff</h3>
                        <a href="#">Cookies Policy</a>
                        <span>|</span>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Toasts JS -->
    <script>
        $(document).ready(function() {
            $(".toast").toast('show')
        });
    </script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    
    {% block footer_js %}
    {% endblock %}

</body>

</html>