/* ----------------------------------------- Checkout */

#checkout-address-section,
#checkout-time-section,
#checkout-payment-section {
    margin-top: 9rem;
}

label[for="delivery-time-select"] {
    display: block;
    font-size: 1.8rem;
    text-align: left;
}

#delivery-time-select {
    padding: .7rem 1.1rem;
    width: 100%;
    border-color: #c5ccd3;
    border-radius: .3rem;
}

.save-info {
    font-size: 1.4rem;
}