/* ----------------------------------------- Checkout */

#checkout-address-section,
#checkout-time-section,
#checkout-payment-section {
    padding-top: 13rem;
}

/* ----------------------------------------- Delivery Time */

label[for="delivery-time-select"] {
    display: block;
    font-size: 1.8rem;
    text-align: left;
}

#delivery-time-select {
    padding: .7rem 1.1rem;
    width: 100%;
    border-color: #c5ccd3;
    border-radius: .3rem;
}

/* ----------------------------------------- Payment */

main {
    padding-bottom: 12.5rem;
}

.customer-details,
.order-summary {
    border: .1rem solid #c8cfd6;
    border-radius: .3rem;
    padding: 2rem;
}

#submit-button {
    width: 100%;
    padding: 1rem;
    color: white;
    background-color: orangered;
}

#submit-button .complete-order {
    font-size: 1.8rem;
}

.charge-warning span {
    font-size: 1.2rem;
}

.order-summary {
    padding: 0;
}

.save-info {
    font-size: 1.4rem;
}

/* ----------------------------------------- Order Confirmation */

.order-confirmation-subheader {
    margin: 1rem 1rem 2rem 1rem;
}

.jumbotron-container {
    padding: 15rem 0 4.5rem 0;
    background-color: #00baff;
}

.jumbotron {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    border-radius: .3rem;
}

#order-confirmed-jumbotron {
    padding: 2rem;
    background-color: #fff;
}

.order-again-btn {
    color: #fff;
    background-color: orangered;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    padding: 1rem 4rem;
    border-radius: .3rem;
}

.order-again-btn:hover,
.order-again-btn:focus {
    color: #fff;
}

#rating-heading {
    font-size: 1.9rem;
    font-weight: 600;
}

#rating-stars i {
    color: orangered;
    font-size: 2rem;
}

.restaurant-checkout-logo-container,
.delivery-checkout-marker-container {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0em 1rem 1rem 0;
}

.restaurant-checkout-logo {
    height: 5.5rem;
    width: 5.5rem;
}

.order-summary-card,
.delivery-info-card {
    padding: 2rem;
    border: solid .1rem #c8cfd6;
    border-radius: .8rem;
}

.order-number {
    font-size: 1.4rem;
}

.delivery-checkout-marker i {
    font-size: 3rem;
}

.checkout-view-menu {
    font-size: 1.4rem;
}

.first-food-item {
    padding-top: 1rem;
}

hr.divider {
    margin-top: 2rem;
}

.delivery-time {
    padding-bottom: 1.8rem;
}

.delivery-time strong,
.delivery-time i {
    font-size: 1.6rem;
}

.dotted-underline {
    font-size: inherit;
    border-bottom: .1rem black dotted;
}