/* ----------------------------------------- Shopping Bag */
main {
    padding-bottom: 0;
}

#shopping-bag-section {
    padding-top: 7rem;
    margin-bottom: 6rem;
}

.browse-restaurants-btn {
    color: #fff;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin-top: 2rem;
}

.browse-restaurants-btn span {
    font-size: 1.8rem;
}

.browse-restaurants-btn:hover,
.browse-restaurants-btn:focus {
    color: #fff;
}

.bag-contents {
    padding: 2rem;
    max-width: 80rem;
}

.bag-table th {
    font-size: 1.8rem;
}

.bag-food-name strong {
    font-size: 1.6rem;
}

.bag-food-description {
    font-size: 1.4rem;
}

.qty-form {
    min-width: 10.5rem;
}

.qty-input {
    font-size: 1.4rem;
    max-width: 7rem;
    min-width: 3.5rem;
}

/* Remove spinner from qty input - referenced https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bag-total strong {
    font-size: 1.5rem;
}

.bag-delivery {
    font-size: 1.5rem;
}

.bag-grand-total strong {
    font-size: 1.7rem;
}

/* Buttons */
#back-to-restaurant-btn {
    border: none;
    text-decoration: underline;
}

#go-to-checkout-btn {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto 2rem auto;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
}

#go-to-checkout-btn span,
#go-to-checkout-btn i {
    font-size: 1.8rem;
}

/* Bag rows */
.food-image-container {
    min-width: 10rem;
}

.food-image {
    width: 8.5rem;
    height: 8.5rem;
    object-fit: cover;
}

.fa-trash-alt {
    font-size: 1.5rem;
}

.horizontal-rule {
    border-bottom: .1rem solid #c8cfd6;
}

/* ----------------------------------------- >=768px */
@media screen and (min-width: 768px) {
    #shopping-bag-section {
        margin-bottom: 0;
    }

    main {
        padding-bottom: 8rem;
    }

    .bag-contents {
        min-width: 60rem;
    }
}

/* ----------------------------------------- >=992px */
@media screen and (min-width: 992px) {
    #shopping-bag-section {
        padding-top: 10rem;
    }
}

/* ----------------------------------------- >=1200px */
@media screen and (min-width: 1200px) {
    #shopping-bag-section {
        padding-top: 11rem;
    }

    .bag-contents {
        border: .1rem solid #c8cfd6;
    }

    /* Buttons */
    #back-to-restaurant-btn {
        border: black 1px solid;
        padding: 1.5rem 3rem;
        
    }

    #go-to-checkout-btn {
        display: inline-block;
        position: relative;
        border: #E66700 1px solid;
        margin: 0;
        padding: 1.5rem 3rem;
        border-radius: .3rem;
        left: 0;
        bottom: 0;
        transform: translateX(0);
    }

    #go-to-checkout-btn span,
    #go-to-checkout-btn i,
    #back-to-restaurant-btn span {
        font-size: 1.5rem;
        font-weight: bold;
    }
}