<!-- Referenced Bootstrap documentation -->
<div class="toast-container">
    <div class="toast custom-toast text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="w-100 toast-capper bg-danger"></div>
        <div class="toast-header">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p>
                {{ message }}
            </p>
        </div>
    </div>
</div>